body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container{
  max-width: 960px;
  margin-right:auto;
  margin-left:auto;
  padding-right: 15px;
  padding-left: 15px;
}
.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.note{
 white-space: pre-wrap;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
justify-content: space-between;
border: 5px solid rgb(39, 193, 245);
;
color: #000;
}
.note-footer{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
textarea{
  border:none;
  resize: none;
  color: #000;
}
.note.new{
  background-color: rgb(39, 193, 245);
}
textarea:focus{
  outline: none;
}
.save{
  border: none;
  background: none;
 
}

.delete-icon{
  cursor: pointer;
}
.search{
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 1em;
  margin-bottom: 10px;
  color: #fff;
  border: 1px solid lightgrey;
}
.search input{
  border: none;
  background: transparent;

  
}
.search input:focus{
  outline: none;
}
.dark-mode{
  background-color: black;
  min-height: 100vh;
}
.dark-mode h1{
  color: white;
}